/* mrjindev — custom UI overrides */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.app-ltr-1trb7go {
    mask-image: none !important;
    background: url("https://cdn.jsdelivr.net/gh/svetlanasamsonyan-hash/CSS@main/mrjindev/assets/casino-chip.png") center/contain no-repeat !important;
}

[data-mj="header-special-button"],
a[href="/en/"]:has(img[alt="Special icon"]) {
    background: yellow !important;
}

a[href="/en/"]:has(img[alt="Special icon"]) span[color="#ffffff"] {
    color: black !important;
    font-family: 'Montserrat', serif !important;
}

img[alt="Special icon"] {
    content: url("https://cdn.jsdelivr.net/gh/svetlanasamsonyan-hash/CSS@main/mrjindev/assets/promotion.png") !important;
}

[data-mj="register-button"] {
    background: yellow !important;
}

[data-mj="widget-egt-jackpot"] p {
    font-weight: 800 !important;
    color: yellow !important;
    font-size: larger !important;
}
