/* mrjindev — custom UI overrides */

[data-mj="register-button"] {
    background: #a05f5f !important;
}

p.app-ltr-wsdk5y {
    font-weight: 800 !important;
    color: #ffec00e3 !important;
    font-size: larger !important;
}
